# Archivos de usuario de Qt Creator (rutas absolutas - NO subir)
*.user
*.user.*

# Carpetas de compilación
build/
build-*/
cmake-build-*/
Debug/
Release/
debug/
release/
out/

# Archivos generados por CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Archivos generados por Qt (moc, uic, rcc)
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.qm
object_script.*

# Archivos objeto, ejecutables y binarios
*.o
*.obj
*.exe
*.app
*.pdb
*.ilk

# Otros archivos temporales de Qt
.qmake.stash
*.autosave
qmake_all

# Editores/IDE
.vscode/
.idea/

# Informe
Informe Desafio 1.docx
